.addBlogContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}
.addBlogMainForm{
    width: 63%;
}
.addBlogRightForm{
   width: 35%;
   
  }
.fromFiled{
    padding-bottom: 30px;
}
.fromFiled input{
  width: 100%;
  border: 1px solid #dcdcdc;
   border-radius: 10px;
  font-size: 16px;
  font-family: "Work Sans";
  padding: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.fromUrl{
display: flex;
justify-content: space-between;
gap: 1rem;
}
.fromUrl input{
  width: 70%;
  border: 1px solid #dcdcdc;
   border-radius: 10px;
  font-size: 16px;
  font-family: "Work Sans";
  padding: 0.8rem;
  height: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.imageUploaderData{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imageUploaderData button{
    background-color: #2b74da;
    color: #fff;
    cursor: pointer;
    padding: 14px 18px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    /* width: 20rem; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    transition: 0.2s linear all;
  }

.imageUploaderData p{
    color: #2b74da;
    font-weight: 500;
}
.imageUploaderContainer{
    padding-bottom: 20px;
}
.fromBlogSection input{
  width: 100%;
  border: 1px solid #dcdcdc;
  /* height: 60px; */
  border-radius: 10px;
  font-size: 16px;
  font-family: "Work Sans";
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.addSectionBtn{
    color: #2b74da;
    background-color: #fff;
    cursor: pointer;
     width: 10rem;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    height: 3rem;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);   
    }
.formBtnBox{
   display: flex;
  gap: 1rem;
  justify-content: space-between;
}



.tags {
    background: #f8fafb;
    margin-bottom: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.2);
  }
  
  .tags h3 {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    color: #1e2224;
    padding: 14px;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .contentBox {
    display: flex;
    padding: 1.5rem 1rem;
    gap: 1rem;
  }
  
  .tagSelectBox {
    font-size: 17px;
    font-family: "Work Sans", sans-serif;
    color: #818181;
  }
  
  .contentBox select {
    width: 100%;
    /* height: 40px; */
    /* margin-bottom: 30px; */
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Work Sans";
  }
  
  .contentBox select option {
    font-size: 16px;
    font-family: "Work Sans";
  }
  
  .contentBox .fromFiled {
    width: 100%;
  }
  .contentBox input{
    width: 100%;
  border: 1px solid #dcdcdc;
   border-radius: 10px;
  font-size: 16px;
  font-family: "Work Sans";
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
  }
  
 .primaryBtn{
  cursor: pointer;
    padding: 10px;
    font-size: 17px;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    border: 1px solid #2b74da;
    background: #ffffff;
    color: #2b74da;
    font-weight: 500
 }
  
  
  .primaryBtn:hover {
    color: #ffffff;
    background: #2b74da;
    transition: all 800ms ease-in-out;
  }
  
  .secondaryBtn {
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    border: 1px solid #077838;
    background: #077838;
    color: #ffffff;
    font-weight: 500;
  }
  
  .secondaryBtn:hover {
    color: #077838;
    background: #ffffff;
    border: 1px solid #077838;
    transition: all 800ms ease-in-out;
  }
  .formEditor{
    padding: 0 1rem;
  }
  .quillEditor{
    height: 9.3rem;
}