.companyLogo{
  width: 4rem;
  margin: 0.5rem;
}
.userLogoImg{
  width: 3rem;
  border-radius: 50%;
}
.userLogo{
  display: flex;
}
.userDesp>p{
  color: grey;
  font-size: 0.8rem;
}
.userDesp>h5{
  color: grey;
}
.userLogoContainer{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar-item{
  cursor: pointer;
    border-radius: 5px;
    color: #636984;
    padding: 10px;
    margin: 0.1rem 1rem;
    transition: all .3s ease-in-out;
  font-size: 14px;
  color: #636984;
}
.sidebar-title.plain{
   text-decoration: none;
   width: 100%;
   color: #636984;
  }
.sidebar-title.plain:hover{
  background-color: #fff;
    color: #3ba0aa;
    transition: all .3s ease-in-out;
}

.sidebar-item:hover{
  background-color: #fff;
    color: #3ba0aa;
    transition: all .3s ease-in-out;
}
.sidebar-title{
  width: 100%;
   display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-item.open .sidebar-title .toggle-btn{
  transform: rotate(180deg);
  transition: transform .5s;
}
.sidebar-content{
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  font-size: 13px;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open{
  background-color: #fff;
  color: #3ba0aa;
}
.sidebar-item.open .sidebar-content{
  height: auto;
  background-color: #fff;
  color: #3ba0aa;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#636984), to(#3ba0aa));
  box-shadow: inset 2px 2px 2px rgba(255,255,255,0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
}